html {
  font-family: Verdana;
  background-color: gainsboro;
}

a {
  text-decoration: none;
}
.container {
  margin: 20px auto;
  width: 960px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  background-color: white;
}

th {
  text-align: left;
}

.addVar {
  cursor: pointer;
  background-color: green;
  padding: 10px 5px;
  color: white;
  border-radius: 5px;
}

#addQ {
  cursor: pointer;
  background-color: orange;
  padding: 10px 5px;
  color: white;
  border-radius: 5px;
}

.removeVar, .removeQ, .deleteQ {
  cursor: pointer;
  background-color: red;
  padding: 10px 5px;
  color: white;
  margin-left: 10px;
  border-radius: 5px;
}

input[type="submit"] {
  border: none;
  background-color: firebrick;
  padding: 10px 5px;
  color: white;
  border-radius: 5px;
}

.spacer {
  height: 30px;
}

.navbar {
  background: steelblue;
  padding: 5px 0px 5px 0px;
  width: 100%;
  height: 60px;
}

.navbar a {
  text-decoration: none;
  color: white;
  float:left;
  line-height: 60px;
  margin-right: 20px;
}

input {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow:inset 0 0 2px #000000;
}

.login_link {
  float: right;
  height: 60px;
  line-height: 60px;
  margin-right: 10px;
}

.login_link input[type="text"] {
  height: 20px;
  margin-top: 10px;
  margin-right: 10px;
}

a.login_link {
  float:right;
}

#image_upload {
  box-shadow: none;
}

#signup {
  margin: 0 auto;
  width: 300px;
}

#signup h1 {
  text-align: center;
}

#signup input[type="submit"] {
  margin: auto;
}

#signup input[type="text"], #signup input[type="email"], #signup input[type="password"] {
  width: 100%;
}

#create_question_form label {
  display: block;
  float:left;
  width: 100px;
  line-height: 33px;
}

#create_question_form input[type="text"] {
  width: 400px;
}

#view_all_surveys tr {
  height: 30px;
}

#edit_survey {
  min-height: 500px;
  position: relative;
}

#edit_survey input[type="submit"] {
  position: absolute;
  right: 50%;
  bottom: 0;
}

#edit_survey_left {
  float:left;
}

#edit_survey_right {
  float:left;
}

.edit_survey_question {
  margin-bottom: 50px;
}

#clear {
  clear: both;
  padding: 50px 0px;
}

#edit_survey_right label {
  display: block;
  float:left;
  width: 100px;
  line-height: 33px;
}

#edit_survey_right input[type="text"] {
  width: 300px;
  height: 26px;
}
#view_all_surveys tr:nth-child(even) {
  background-color: #ccc;
}
