  <h1>Create a Survey</h1>
  <form action="create_survey" method="post" enctype="multipart/form-data">
    <label for="title_input">Survey Title:</label><br>
    <input type="text" name="survey_title" id="title_input"><br><br>
    <label for="image_upload">Upload an Image:</label><br>
    <input type="file" name="image" id="image_upload"><br><br>
    <label for="image_title">Image Title:</label><br>
    <input type="text" name="image_title" id="image_title"><br><br>
    <input type="submit" value="finish">
  </form>
