<div id="login_page">

  <div id="signup">
    <h1>Sign up</h1>
    <form action='/signup' method='POST'>
      <label for="signup_username">Name</label><br>
      <input type="text" name="input[username]" id="signup_username"><br>
      <label for="signup_email">Email</label><br>
      <input type="email" name="input[email]" id="signup_email"><br>
      <label for="signup_password">Password</label><br>
      <input type="password" name="input[password]" id="signup_password"><br>
      <label for="password_confirmation">Confirm</label><br>
      <input type="password" name="input[password_confirmation]" id="password_confirmation"><br><br>
      <input type="submit" value="Submit!" name="submit">
    </form>
  </div>
</div>
