<div id="login_page">
  <div id="signup">
    <h1>Sign up</h1>
    <% if @errors && @errors.count > 0 %>
      <% @errors.each do |error| %>
        <p id="signup_error"><%= error %></p>
      <% end %>
    <% end %>
    <form action='/signup' method='POST'>
      <!-- <label for="signup_username">Name</label><br> -->
      <input placeholder="Name" type="text" name="input[username]" id="signup_username"><br>
      <!-- <label for="signup_email">Email</label><br> -->
      <input placeholder="Email" type="email" name="input[email]" id="signup_email"><br>
      <!-- <label for="signup_password">Password</label><br> -->
      <input placeholder="Password" type="password" name="input[password]" id="signup_password"><br>
      <!-- <label for="password_confirmation">Confirm</label><br> -->
      <input placeholder="Confirm Password" type="password" name="input[password_confirmation]" id="password_confirmation"><br><br>
      <input type="submit" value="Submit!" name="submit">
    </form>
  </div>
</div>
